$button-purple: #9356dc;
$light-green: #99e2d0;
$dark-green: #008766;
$light-blue: #89c8fa;
$dark-blue: #003a68;
$background-light: #f6f6f6;
$background-dark: #353535;
$button-gradient: linear-gradient(#ff79da, $button-purple);
$font-main: "Roboto", sans-serif;
$font-secondary: "Shrikhand", serif;
